//

$fuente_principal: 'monserrat', sans-serif;


//colores

$verde: #4CB8B3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752f97;
$negro: #000000;
$blanco: #FFFFFF;

//tamaño de media queries

$telefono: 480px;
$tablet: 762px;
$pc: 992px;
